.logo {
  /* margin-top: 1rem; */
  width: 55%;
}

.title-page {
  /* font-family: "Dokdo", cursive; */
  font-family: "Walter Turncoat", cursive;
  margin: 0 auto;
  font-size: 3rem;
}

.home-grid {
  height: 70%vh;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  justify-content: center;
}

.home-item {
  position: relative;
}
.home-item img {
  align-self: center;
  object-fit: cover;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  box-shadow: 1px 3px 9px 9px rgba(0, 128, 0, 0.6); /* Green shadow effect */
  transition: transform 0.3s ease-in-out;
}

.home-item img:hover {
  transform: scale(1.1); /* Optional: Add a scaling effect on hover */
}

.home-title {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
  .home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
