:root {
  --color-1: #44281d;
  --color-2: #e4a788;
  --color-3: #f0e14a;
  --color-4: #97ce4c;
  --color-5: #e89ac7;
}
body {
  background-color: black;
  background-image: url(./images/pxfuel_4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%vh;
  color: #fff;
  text-align: center;
}
